@mixin padding{
  @media(max-width:768px){
    @content;
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url('./../asset/images/scratch-card/background.png') no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .top {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    animation: fadeIn 1s .3s forwards;
    @include padding {
      padding: 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .bottom {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s .6s forwards;
    .bg {
      background-color: #F7E8F2;
      padding: 15px;
      @include padding {
        padding: 10px;
      }
      .ScratchCard__Container {
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        canvas {
          border-radius: 10px;
        }
        .ScratchCard__Result {
          border-radius: 10px;
          overflow: hidden;
          margin: 0 auto;
          width: 98% !important;
          height: 98% !important;
        }
      }
    }
    .border {
      width: 100%;
      height: 10px;
      background-color: #7F7BB3;
    }
  }
}